	<br><br>
  <div>
		
		<center><h1 class="w-50 mx-auto"> LOG IN</h1>
		<%= form_with url:home_check_auth_path,method:'post', class:'form-group' do |f| %>
        <%= f.text_field :phoneno, class:"form-control w-50 mx-auto"%><br>
        <%= f.password_field :password, class:"form-control w-50 mx-auto"%>
    <p><span> 
    <input type="checkbox" name="check"></span> agree to the terms of services</p>
			<%= f.submit "Log In"%>
			<p class="or">OR</p><hr class="mx-5">
			<%= link_to 'Sign-up', new_home_path %>
    <%end%>
    </div>
    </center>
    